@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
    margin: 1em auto;
    font-family: 'Roboto', sans-serif;
    background-image: url('./catHero.jpg');
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.hero {
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    padding-top: 2em;
}

.main-title {
    text-align: center;
}

.presentation {
    text-align: center;
    color: beige;
}

#ramdomMichis {

    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 3em;
}



.kitty-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blueviolet;
    height: 15em;
    border-radius: 20px;
    width: 150px;
}



h2 {
    text-align: center;

}
button {
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
    border: 1px solid blueviolet;
    width: 100px;
    margin-top: 2em;
    border-radius: 20px;
}

.reload-button {
    background-color: blueviolet;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.buttonContainer {
    text-align: center;
}

#favoritesMichis {

    gap: 3em;
    display: flex;
    padding-left: 3em;
}

img {
    border-radius: 20px 20px 0 0;
}

article {

    display: flex;
    flex-direction: column;
    text-align: center;
}

.nose {
    border: 1px solid blueviolet;
    height: 15em;
    border-radius: 20px;
    align-items: center;
    }



@media screen and (max-width: 600px) { 
    body {
        margin: 1em auto;
        font-family: 'Roboto', sans-serif;
        background-image: none;
        background-color: black;
        color: white;

    }

    h1 {
        padding-top: 0;
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
    }

    .presentation {
        text-align: center;
        color: beige;
        margin-top: 0;
        margin-bottom: auto;
    }
    .hero {
        background-image: url('./catHero2.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;
        padding-top: 0;
    }

    .nose {
    border: 1px solid blueviolet;
    height: 15em;
    border-radius: 20px;
    align-items: center;
    width: 150px;
    }

    #ramdomMichis {


        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding-left: 25px;
    }

    #favoritesMichis { 
        margin: 0 auto;
        padding-left: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .kitty-card {
    border: 1px solid blueviolet;
    height: 15em;
    border-radius: 20px;
    }

    button { 
        width: 100px;
        background: blueviolet;
        color: white;
        font-weight: bolder;
     }  
     .reload-button {
        background-color: blueviolet;
        height: 50px;
        width: 150px;
        font-weight: bolder;
        font-size: larger;
    } 
}