@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-title {
    text-align: center;
}

#ramdomMichis {
    background-color: blue;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#favoritesMichis {
    background-color: azure;
}

.kitty-card {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kitty-card-fav {
    background-color: red;
}

h2 {
    text-align: center;

}
button {
    background-color: transparent;
    color: blueviolet;
    border: 1px solid blueviolet;
    width: 150px;
    margin-top: 1em;
    border-radius: 20px;
}

.reload-button {
    background-color: black;
}

.buttonContainer {
    text-align: center;
}

#favoritesMichis {
    background-color: green;
    gap: 1em;
    display: flex;
    padding-left: 3em;
}

img {
    border-radius: 20px 20px 0 0;
}

article {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) { 
    body {
        margin: 1em auto;
        font-family: 'Roboto', sans-serif;
        width: 80%;

    }
    #ramdomMichis {
        background-color: violet;
        gap: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    #favoritesMichis { 
        margin: 0 auto;
        padding-left: 0;
    }
}